{% extends 'layout.html' %}
{% block body %}
    <h1>Data instance {{ data_instance.id }}</h1>
    <table>
        <tr>
            <th>ID:</th>
            <td>{{ data_instance.id }}</td>
        </tr>
        <tr>
            <th>Dataset id:</th>
            <td>{{ data_instance.dataset_id }}</td>
        </tr>
        <tr>
            <th>Instance id:</th>
            <td>{{ data_instance.instance_id }}</td>
        </tr>
        <tr>
            <th>Action:</th>
            <td>{{ data_instance.action }}: {{ data_instance.get_action_string() }}</td>
        </tr>
        <tr>
            <th>Raw data path:</th>
            <td>{{ data_instance.raw_data_path }}</td>
        </tr>
        <tr>
            <th>GIF:</th>
            <td>
                <a href="{{ url_for('view_data_instance_gif', data_instance_id=data_instance.id) }}">
                    Link
                </a>
                <br>
                <img src="{{ url_for('view_data_instance_gif', data_instance_id=data_instance.id) }}" width="200"/>
            </td>
        </tr>
        <tr>
            <th>Label:</th>
            <td>
                {% if label %}
                    {{ label.label }}
                {% else %}
                    <i>Not labelled yet</i>
                {% endif %}
            </td>
        </tr>
    </table>
{% endblock %}