{% extends 'layout.html' %}
{% block body %}
    <h1>Dataset: {{ dataset.name }}</h1>
    {% if dataset.has_been_labelled_completely_by_user(current_user) %}
        <i>You have already labelled this dataset.</i>
    {% else %}
        <a href="{{ url_for('view_label_dataset', dataset_id=dataset.id) }}">Label this dataset</a>
    {% endif %}
    <ul>
        {% for instance in dataset.data_instances %}
            <li>
                <a href="{{ url_for('view_data_instance', data_instance_id=instance.id) }}">
                    {{ instance.id }}
                </a>
                {% if instance.has_been_labelled_by_user(current_user) %}
                    (labelled)
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}