{% extends 'layout.html' %}
{% block body %}
    <h1>Datasets</h1>

    <ul>
        {% for dataset in datasets %}
            <li>
                <a href="{{ url_for('view_dataset', dataset_id=dataset.id) }}">
                    {{ dataset.name }}
                </a>
                {% if dataset.has_been_labelled_completely_by_user(current_user) %} (labelled) {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}