{% extends 'layout.html' %}
{% block body %}
    <h1>Label instance</h1>
    <table>
        <tr>
            <th>GIF:</th>
            <td><img src="{{ url_for('view_data_instance_gif', data_instance_id=data_instance.id) }}" width="200"/></td>
        </tr>
        <tr>
            <th>Action:</th>
            <td>{{ data_instance.get_action_string() }}</td>
        </tr>
    </table>

    {% if label %}
        <b>You have already labelled this instance. Are you sure you want to overwrite the existing label?</b>
        <a href="{{ url_for('view_label_dataset_instance_next', dataset_id=data_instance.dataset_id, instance_id=data_instance.instance_id) }}">Skip!</a>
    {% endif %}
    <form action="{{ url_for('label_data_instance', instance_id=data_instance.id) }}" method=post>
        <label for="caption">
            Description
        </label>

        <textarea autofocus name="caption" title="" rows="5" cols="200">{{ label.label }}</textarea>
        <button type="submit">Submit</button>
    </form>
{% endblock %}