<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PacMan tactics labelling</title>
</head>
<body>
<h1>PacMan tactics labelling</h1>
<div class=metanav>
    <a href="{{ url_for('view_datasets') }}">Datasets</a> &nbsp;
    {% if not session.logged_in %}
        <a href="{{ url_for('login') }}">Log in</a>
    {% else %}
        <a href="{{ url_for('logout') }}">Log out</a> (User {{ session.user_id }})
    {% endif %}
</div>
{% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
{% endfor %}
{% block body %}
{% endblock %}
</body>
</html>